h1 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;}
section {
margin-left: 2.5%;
box-sizing: border-box;
border: solid black 1px;
background-color: burlywood;
width: 30%;
float: left;}
h2 {
    text-align: right;
    border: solid black 1px;
    padding: 0;
    width: 150px;
}
p {
    padding: 8px;
}
