*{
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    font-size: 175%;
}
section {
    width: 30%;
    background-color: cornflowerblue;
    border: solid black 1px;
    margin-left: 2.5%;
    margin-top: 30px;
    float: left;
    height: 195px;
}
h2 {
    border: solid black 1px;
    margin: 0;
    font-size: 125%;
    text-align: center;
    width: 75%;
    position: relative;
    right: -24.7%;
    margin-top: -1px;
    margin-right: 1px;
    box-sizing: content-box;
}
p {
    padding: 6px;
    clear: right;
}
#lp {
    background-color: blueviolet;
}
#wbba {
    background-color: antiquewhite;
}
#rw {
    background-color: aqua;
}

@media (min-width: 768px) and (max-width: 991px) {
    section {
        width: 45.5%;
        float: left;
        margin-left: 3%;
    }
    #third {
        width: 94%;
        margin-left: 3%;
    }
}

@media (max-width: 767px) {
    section {
        width: 94%;
        margin-left: 3%;
    }
}
